.vscode/**
.vscode-test/**
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
astah-export
example

coverage-report/
node_modules/
out/
src/
tests/
.gitignore
jest.config.js