<div class="container">
  <input type="number" class="display" [(ngModel)]="inputValue" />
  <div class="options">
    <span class="clear" (click)="clear()">C</span>
    <span class="backspace" (click)="backspace()"> &larr; </span>
    <span class="equal" (click)="showResult()">=</span>
  </div>
  <div class="numbers">
    <span (click)="appendNumber(1)">1</span>
    <span (click)="appendNumber(2)">2</span>
    <span (click)="appendNumber(3)">3</span>
    <span (click)="appendNumber(4)">4</span>
    <span (click)="appendNumber(5)">5</span>
    <span (click)="appendNumber(6)">6</span>
    <span (click)="appendNumber(7)">7</span>
    <span (click)="appendNumber(8)">8</span>
    <span (click)="appendNumber(9)">9</span>
    <span (click)="appendNumber(0)">0</span>

    <div class="left-empty"></div>
    <div class="right-empty"></div>
  </div>
  <div class="operators">
    <span (click)="setOperator('+')">+</span>
    <span (click)="setOperator('-')">-</span>
    <span (click)="setOperator('*')">*</span>
    <span (click)="setOperator('/')">/</span>
  </div>
</div>
