.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 6px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.label span {
  flex: 1
}

.label .checkbox {
  width: 18px;
  height: 18px;
}