<div>
  <div>
    <input type="checkbox" name="isGutterActive" id="isGutterActive" />
    <span>Visualizar linhas no editor</span>
  </div>
  <div>
    <input
      type="checkbox"
      name="isBasedOnBranchChange"
      id="isBasedOnBranchChange"
    />
    <span>Avaliar com base na branch: ${referenceBranch}</span>
  </div>
  <div>
    <input
      type="checkbox"
      name="isJustForFileInFocus"
      id="isJustForFileInFocus"
    />
    <span>Ver porcentagem do arquivo aberto</span>
  </div>
</div>

